::ng-deep .fc-daygrid-day a {
    color: inherit;
    text-decoration: none;
  }
  
  ::ng-deep .fc-daygrid-day-number {
    color: black;
  }

  ::ng-deep .fc .fc-col-header-cell-cushion {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
  }

  ::ng-deep .fc-col-header-cell {
    background-color: rgb(137, 105, 234);
  }

  ::ng-deep .fc-daygrid-day {
    background-color: white; 
  }
  
  ::ng-deep .fc-daygrid-day-frame {
    background-color: white;
  }

  