<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="SubmitBudgetModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

                <div class="modal-header justify-content-center">
                    <h4 class="modal-title" id="SubmitBudgetModalTitle">
                        {{ isUpdateMode ? 'Edit Event' : 'New Event' }}
                    </h4>
                </div>
                <div class="modal-body px-5">
                    
                    <form [formGroup]="formCalendar" (ngSubmit)="saveEvent()">
                        <div class="form-group my-2">
                            <label for="title">Title:</label>
                            <input id="title" formControlName="title" class="form-control" />
                            @if(formCalendar.get('title')?.invalid && (formCalendar.get('title')?.touched || formCalendar.get('title')?.dirty)){

                                <div class="row text-end m-1">
                                    <small class="text-danger">Title is required.</small>
                                </div>
                            }
                          </div>

                          <div class="form-group d-flex align-items-center my-2">
                            <label for="color">Color:</label>
                            <input id="color" formControlName="color" class="form-control form-control-color mx-2" type="color"/>
                            @if(formCalendar.get('color')?.invalid && (formCalendar.get('color')?.touched || formCalendar.get('color')?.dirty)){

                                <div class="row text-end m-1">
                                    <small class="text-danger">Color is required.</small>
                                </div>
                            }
                          </div>

                          <div class="form-group my-2">
                            <label for="start">Start Date:</label>
                            <input id="start" formControlName="start" class="form-control" type="datetime-local"/>
                            @if(formCalendar.get('start')?.invalid && (formCalendar.get('start')?.touched || formCalendar.get('start')?.dirty)){

                                <div class="row text-end m-1">
                                    <small class="text-danger">Start date is required.</small>
                                </div>
                            }
                          </div>

                          <div class="form-group my-2">
                            <label for="end">End Date:</label>
                            <input id="end" formControlName="end" class="form-control" type="datetime-local"/>
                            @if(formCalendar.get('end')?.invalid && (formCalendar.get('end')?.touched || formCalendar.get('end')?.dirty)){

                                <div class="row text-end m-1">
                                    <small class="text-danger">End date is required.</small>
                                </div>
                            }
                          </div>

                          <div class="form-group my-2">
                            <label for="description">Description:</label>
                            <textarea id="description" formControlName="description" class="form-control" ></textarea>
                            @if(formCalendar.get('description')?.invalid && (formCalendar.get('description')?.touched || formCalendar.get('description')?.dirty)){

                                <div class="row text-end m-1">
                                    <small class="text-danger">Description is required.</small>
                                </div>
                            }
                          </div>
                    
                          <div class="d-flex justify-content-between">
                            <div>
                              <button type="submit" class="btn btn-primary my-3">Save</button>
                              <button class="btn btn-secondary my-3 mx-2" (click)="closeModal()">Cancel</button>
                            </div>
                            @if(isUpdateMode){
                                <button class="btn btn-danger my-3" (click)="removeEvent()">Delete</button>
                            }
                          </div>
                    </form>
                </div>


        </div>
    </div>
</div>
